.swiper{
    width: 100%;
}

.testimonial{
    display: flex;
    align-items: center;
    gap: 40px;
}
.testimonials_wrapper small {
  font-size: 40px;
  font-weight: 600;
}

.testimonials_wrapper h2{
  font-size: 35px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.testimonials_wrapper span {
  font-size: 45px;
  color: #8b623b;
  font-weight: 600;
}

.testimonials_wrapper p{
  font-family: "Poppins", sans-serif;
}

.testimonial img{
    width: 200px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content h3{
    font-size: 35px;
}

.content h3 span{
    display: block;
    font-size: 15px;
    font-family: 'poppins';
    font-weight: 200;
}

.content p{
    padding: 20px;
    border: 1px solid rgba(131, 131, 131, 0.2);
    border-radius: 30px;
}

@media screen and (max-width: 768px) {

    .testimonial{
    flex-direction: column;
    align-items: flex-start;
    }
}